### Dictionary
- '영어 사전' 이라고 생각하면 됨
- 형태 - 단어:뜻
- 키: 값
    - 키 값은 고유해야 함 (키 값이 중복이 되면 안 됨)
- 순서가 없음 => 오프셋 없음
    - 인덱스 (ex. a[0]) 존재하지 않음
- 가변 객체 (수정, 추가, 삭제 기능)
- 타입: dict, dict()
- 생성: {k1: v1, k2: v2, ...} 중괄호 사용
- value에는 리스트, 튜플, 딕셔너리 모두 들어갈 수 있음

In [6]:
# set: 집합 (똑같이 {}를 사용하지만 딕셔너리 아님)

a = [1, 2, 3]
set(a)

{1, 2, 3}

In [5]:
# dictionary

a = {}
a

{}

In [3]:
# set

a = set()
a

set()

In [2]:
# 빈 딕셔너리 생성

empty = dict()
empty = {}
empty

{}

In [6]:
# 01.
customer = {'first' : 'wile', 'middle': 'E', 'last': 'coyote'}
customer

{'first': 'wile', 'middle': 'E', 'last': 'coyote'}

In [8]:
# 02. 
customer = dict(first = 'wile', middler = 'F', last = 'coyote')
customer

{'first': 'wile', 'middler': 'F', 'last': 'coyote'}

#### mini quiz. 출석부 딕셔너리 만들기
- 이름, 학번, 학과
 - 제임스 202201 경영학과
 - 줄리엣 202202 아랍어과
 - 로버트 202203 ELLT과
- student_dic = {}

In [130]:
# 키 값은 고유해야 하므로 중복 없는 요소를 키 값으로 설정

In [132]:
student_dic = {'202201':['제임스', '경영학과'], 
               '202202':['줄리엣', '아랍어과'],
               '202203':['로버트', 'ELLT과']}
student_dic

{'202201': ['제임스', '경영학과'],
 '202202': ['줄리엣', '아랍어과'],
 '202203': ['로버트', 'ELLT과']}

In [133]:
student_dic['202201']

['제임스', '경영학과']

### 형변환
- dict()

In [15]:
# 01. 짝이 있는 이중 리스트

ex1 = [[1, 2], [3, 4], [5, 6]]
dict(ex1)

{1: 2, 3: 4, 5: 6}

In [16]:
# 02. 짝이 있는 튜플

ex2 = [(1, 2), (3, 4), (5, 6)]
dict(ex2)

{1: 2, 3: 4, 5: 6}

In [7]:
# 03. 길이가 2자인 문자열

ex3 = ['ab', 'bc', 'cd'] # 주의: 길이가 2자 이상이면 오류 뜸
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

#### 항목 조회 & 변경
- key로 항목을 찾아 값을 할당
- 이미 존재하는 key일 경우 값을 변경
- key가 없으면 새로 생성

In [46]:
pythons = {'Chapman': 'Graham',
           'Cleese': 'John',
           'Idle' : 'Jones',
           'Jones': 'Terry', 
           'Palin': 'Michael'
}

In [47]:
# key로 value 찾기

pythons['Idle']

'Jones'

In [48]:
# index 사용 안됨

pythons[0]

KeyError: 0

In [49]:
# value 값 변경

pythons['Idle'] = 'Erica'
pythons['Palin'] = 'Josh'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh'}

In [50]:
# 새로운 key 추가

pythons['Kim'] = 'Laura'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura'}

In [15]:
# 없는 key를 찾으면 에러 발생

pythons['Lee']

KeyError: 'Lee'

In [27]:
# 따라서 존재하는지 체크 먼저

'Lee' in pythons

False

In [29]:
# get(): 없는 key를 찾으면 아무것도 반환하지 않음, 에러 X

pythons.get('Lee')

In [51]:
pythons.get('Kim')

'Laura'

In [52]:
# 찾는 값이 없을 시에 반환할 값 지정 가능

pythons.get('Choi', '존재하지 않는 key입니다.')

'존재하지 않는 key입니다.'

#### keys(), values(). items()
- keys: key 값 리턴
- values: value 값 리턴
- items: key, value 값 리턴
    - 딕셔너리 순회 시 사용

In [53]:
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim'])

In [54]:
pythons.values()

dict_values(['Graham', 'John', 'Erica', 'Terry', 'Josh', 'Laura'])

In [55]:
# items(): 리스트 안에 튜플 형식으로 들어간 형태로 반환됨

pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Erica'), ('Jones', 'Terry'), ('Palin', 'Josh'), ('Kim', 'Laura')])

In [56]:
# 리스트로 형변환도 가능

list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim']

In [57]:
# items()에는 순서가 있으므로 인덱싱 가능

[x[0] for x in pythons.items()] # key 값 반환

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim']

In [58]:
[x[1] for x in pythons.items()] # value 값 반환

['Graham', 'John', 'Erica', 'Terry', 'Josh', 'Laura']

#### quiz 1. for loop 이용하여 animal : legs로 이루어진 딕셔너리 만들기

In [56]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [60]:
# 정답

animal_dic = {}
for key, value in zip(animal, legs):
    animal_dic[key] = value
animal_dic

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

#### quiz 2. pythons에서 성:이름 => 리스트컴프리핸션 이용해서 [(성 앞글자, 이름 글자 수)] 출력

In [59]:
[(name[0][0], len(name[1])) for name in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 4), ('K', 5)]

In [60]:
[(k[0][0], len(v)) for k,v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 4), ('K', 5)]

#### 값 수정, 삭제, 복제

In [61]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura'}

In [62]:
others = {
    'Marx' : 'Groucho',
    'Howard' : 'Moe'
}

In [63]:
# update(): 추가

pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [64]:
# 삭제

# 01. del
del pythons['Kim']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [65]:
# 02. pop(): value 값 반환 후 삭제

pythons.pop('Marx')

'Groucho'

In [66]:
# get과 비슷한 성질 - 없는 값 삭제 시 오류 발생하지 않도록 반환값 설정 가능

pythons.pop('Marx', '존재하지 않는 key입니다.')

'존재하지 않는 key입니다.'

In [68]:
# 모두 삭제
# 01. clear()

pythons.clear()

In [98]:
# 02. empty 딕셔너리 선언

pythons = {}

In [69]:
pythons

{}

#### copy
- 1. 할당
- 2. 얕은 복사
- 3. 깊은 복사

In [101]:
# 할당

a = {1:2, 2:3, 3:4}
b = a
a[1] = 10
a, b

({1: 10, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [102]:
# 얕은 복사

b = a.copy()
a[1] = 100
a, b

({1: 100, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [71]:
a = {1: [2, 2, 2], 2: [1, 1, 1]}
b = a.copy()
a[1][0] = 100
a, b

({1: [100, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [72]:
# copy 라이브러리

import copy 
b = copy.deepcopy(a)
a[1][0] = 9
a, b

({1: [9, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

#### 값 비교
- 대소비교 불가, 같은지 다른지만 가능

In [74]:
a == b

False

In [73]:
a != b

True

#### exercise 1
- 두 개 리스트
- 명왕성: pluto 추가하기
- '성'으로 끝나지 않는 단어 삭제하기
    - del dict['태양'] => 이런 하드코딩 안됨
- sorted 
1) kor 기준 2) eng 기준

In [76]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [83]:
# 정답

solar_system = {}
for ko, en in zip(solar_kor, solar_eng):
    solar_system[ko] = en
solar_system

# 2
solar_system['명왕성'] = 'pluto'
solar_system

# 3
{k: solar_system[k] for k in solar_system if k.endswith('성')}
# or
# {k:v for k, v in solar_system.items() if~}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [85]:
# 4: kor 기준 정렬

sorted_by_key = sorted(solar_system.items())
print(sorted_by_key)

[('금성', 'venus'), ('명왕성', 'pluto'), ('목성', 'jupiter'), ('수성', 'mercury'), ('지구', 'earth'), ('천왕성', 'uranus'), ('태양', 'sun'), ('토성', 'saturn'), ('해왕성', 'neptune'), ('화성', 'mars')]

In [86]:
# 5: eng 기준 정렬

# 01
def function(s):
    return s[1]
sorted(solar_system.items(), key=function)

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [87]:
# 02
sorted(solar_system.items(), key=lambda x: x[1]) # 익명 함수

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

#### 예제: 01

In [158]:
accusation = {'room':'ballroom', 'weapon':'lead pipe', 'person':'Col.Mustard'}

In [160]:
for k, v in accusation.items():
    print(f'{k} has the contents {v}')

room has the contents ballroom
weapon has the contents lead pipe
person has the contents Col.Mustard

#### 02. 글자 수 세기

In [94]:
letter = 'apple'
# {a:1, p:2, ...}
{ch: letter.count(ch) for ch in letter}

# p가 2번 돌아가므로, set 사용하면 더 효율적
{ch: letter.count(ch) for ch in set(letter)}

{'p': 2, 'e': 1, 'a': 1, 'l': 1}

#### 03. 주어진 단어의 모음 세기
- a:1, e:3, ...

In [96]:
vowels = 'aeiou'
word = 'onomatopoeia'

In [107]:
# 1. vowels 순회
op1 = {v: word.count(v) for v in vowels}

# 2. word 순회 
op2 = {ch: word.count(ch) for ch in set(word) if ch in vowels}

op1, op2

({'a': 2, 'e': 1, 'i': 1, 'o': 4, 'u': 0}, {'o': 4, 'a': 2, 'i': 1, 'e': 1})

## Set
- 딕셔너리의 키만 모아놓음 => 중복 없음!
- 수학의 집합 개념; 교집합, 합집합, 차집합, ...
- 데이터 자루
- 순서, 인덱싱 x

In [174]:
empty = set()
empty1 = {} # dict
empty, empty1

(set(), {})

In [175]:
a = {1, 2, 3}
type(a)

set

In [177]:
b = set(1, 2, 3) # 오류

TypeError: set expected at most 1 argument, got 3

In [178]:
b = set([1, 2, 3])

In [179]:
b = set([1, 2, 3, 3, 3, 3])

In [180]:
b

{1, 2, 3}

In [181]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [182]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [183]:
a.discard(3)
a

{1, 2}

#### 04
- 1. vodka가 있는 키 골라내기
- 2. 보드카는 있는데 크림이나 버무스가 있으면 프린트하지 않기

In [115]:
drinks = {
    'martini' :{'vodka', 'vermouth'},
    'black russian':{'vodka', 'Kahlua'},
    'white russian':{'cream', 'Kahlua', 'vodka'},
    'mahattan':{'rye', 'vermouth', 'bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}

In [116]:
for (k,v) in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [123]:
for k,v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

black russian
screwdriver

In [122]:
for k,v in drinks.items():
    # 각각의 집합 v & {'cream', 'vermouth'} 없으면
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

In [126]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합: intersection
a.intersection(b) # a & b
# 합집합: union
a.union(b) # a | b
# 차집합: difference
a.difference(b) # a - b

b-a

{4}

#### comprehension

In [127]:
{s for s in a}

{1, 2, 3}

In [124]:
# frozenset: 가변 객체를 불변 객체로 만듦
# 참고만
fs = frozenset([1, 2, 3])
fs

frozenset({1, 2, 3})