# Ch2. Variables

### 자료형 변환하기
- int, str, float, bool
- type()으로 감싸면 됨 (type에 변환하고 싶은 자료형 이름 넣기)

In [2]:
a = 10
type(a)

int

In [3]:
# int -> float 정수를 소수로
float(a)

10.0

In [4]:
# int -> str 정수를 문자로(''로 감싸짐)
str(a)

'10'

In [5]:
# int -> bool
bool(10)

True

In [39]:
# float -> int: 정수형으로 변환 시 소수점 이하 값은 버림 (ex.10.6 => 10)
int(10.6)

10

In [7]:
x = 4.6
y = 7.9

print(int(x + y)) # 4.6에 7.9를 더한 후 소수점을 버리므로 12.5 -> 12
print(int(x) + int(y)) # 각각 소수점을 버리고 더하므로 4 + 7 = 11

12
11

In [40]:
# str -> int
p = '88.3'
int(p)
# 오류 발생: '88.3'을 숫자로 변환하려면 float으로 변환해야 함

ValueError: invalid literal for int() with base 10: '88.3'

In [9]:
float(p)

88.3

## tip
- print()
- 출력 시 줄바꿈, 연결, 마무리

In [10]:
print('orange', 'apple', 'tomato') # default: 띄어쓰기, 줄바꾸기
print("the next line")

orange apple tomato
the next line

In [42]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1.
print(orange + apple + tomato) #'+'로 연결 가능하지만 띄어쓰기 x
# sep= (띄어쓰기를 어떻게: 연결자 설정) , end= (끝을 어떻게: 마무리 설정)
print(orange, apple, tomato, sep=' ', end='\n') # default
print(orange, apple, tomato, sep='_', end='\n\n') # 스페이스(공백) 부분을 _로, 줄바꿈(엔터) 두 번
print('E0L')

orangeappletomato
orange apple tomato
orange_apple_tomato

E0L

In [2]:
# 라인이 짧을 때 => ';' 사용하여 연결 가능 (많이 쓰이는 방법은 아님)
orange = 'orange'; apple = 'apple'; tomato = 'tomato'

In [45]:
num = 5; print(num)

5

## input()
- console에서 사용자에게 값을 입력받는 함수
- 입출력 관련
- 입력받는 값의 타입은 문자열(str)
- 입력받은 값을 변수에 담아서 사용 ex. 변수 = input()

In [1]:
input("What's your name?")

What's your name?yang

'yang'

In [46]:
#1.
name = input("What's your name?")

What's your name?Yang

In [4]:
name

' Yang'

In [5]:
#2.
print("What's your name?")
name = input()

What's your name?
 Yang

In [6]:
print(name)

 Yang

input을 str이 아닌 다른 타입으로 사용하고 싶을 때는 형변환을 미리 해준다.
- ex. int(input()): 정수형으로 사용

In [7]:
age = input("How old are you?")

How old are you?22

In [8]:
type(age)

str

In [6]:
age = int(input("How old are you?"))

How old are you?22

In [12]:
print('당신이 태어난 해는', 2022 - age + 1, '입니다.') # 입력값 22가 int형이 되어 연산 가능해짐

당신이 태어난 해는 2001 입니다.

## printing

In [7]:
print(f'당신이 태어난 해는 {2022- age + 1}년입니다!') # f-string: f'{변수}'

당신이 태어난 해는 2001년입니다!

# Ch03. Numbers

### boolean
- True/False
- False인 값
- if문(조건식)에서 사용: "만약 어떤 값이 True이면, ..."

In [1]:
bool(0) # 항상 1은 True, 0은 False

False

In [47]:
bool('') # 빈 값 '', None은 False

False

### Integer
- 분수나 소수가 아닌 정수
- 음수는 '-' 기호를 붙인다: ex. -50
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다. ex. 09
    - 0bxx (10진수가 아닌 2진수의 경우에 쓰지만 여기선 거의 쓸일 x)
- 숫자 사이에 쉼표를 쓰면 오류: 100,000 (x) -> 100_000 (o)
    => 숫자 사이의 언더바는 인식하지 않는다는 의미

In [3]:
a = 09 # 숫자 앞 0 (x)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_4160/2890110653.py, line 1)

In [4]:
a = -50
b = 49
a + b

-1

### 연산자 | operator
- +, -, *, /
- 피연산자 | operand: 1, 2, ..
- 수식 | experssion

In [48]:
x = 9
y = 4

# 연산
x + y
x - y
x * y
x / y
x ** y # 거듭제곱|exponential 
# 마지막 줄 연산 결과만 출력됨

6561

나눗셈 = 몫, 나머지

In [7]:
x / y # 그냥 나누기

2.25

In [11]:
x // y # 몫

2

In [12]:
x % y # 나머지

1

In [10]:
divmod(x, y) # (몫, 나머지) 반환시키는 함수

(2, 1)

In [11]:
# division by zero (0으로 나누기 => 오류!), 항시 유의

In [12]:
1 + 9                   + 10 # 공백 있어도 연산은 가능, but 보통 붙여서 씀

20

### 복합대입연산자 | compound assignment operator
- 계산한 값을 다시 자기 자신에게 업데이트시키는 역할

In [14]:
x = 5
x - 3 # x - 3 (뺀 값)을 x에 다시 대입해 주지 않았기 때문에 x의 값은 변하지 않음
print(x)

5

In [15]:
x = x - 3
print(x) 

#1. x - 3 계산
#2. temp = x - 3 (임시변수에 담는다)
#3. x = temp

2

In [ ]:
x += 3
x -= 3
x *= 3
x /= 3

# 사칙연산 모두 가능

### 지수 표현
- 예: '1.0e-4'
- e의 앞부분은 소수, 정수 둘 다 됨
- 뒷부분이 음수면 소수점 자릿수 의미
- e, E 둘다 가능

In [16]:
1.0e-4

0.0001

In [17]:
# 0.0004005 지수 표현하기
4005.0e-7
4.005e-4

0.0004005

#### 코드 짜는 팁
- 주석 달기
    - '#' hash, sharp, ..
    - '#' 시작 지점부터 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식
    - """ """ : 긴 주석
    - 문자열 안에 있는 sharp는 부호로 인식
    - 코드에 대한 설명은 최대한 하지 않는 것이 좋음. 코드만 보고 내용을 파악할 수 있도록 하는 것이 실력. 
        - 주석은 코드 설명 이외의 전달 사항이 있을 때 사용. 
        - 의도를 나타내기 위해, 오류가 있다거나, ...
    
- 라인 유지하기
    - 들여쓰기 (default space 4개, tab 이용)
    - 논리 구조를 나타내기 때문에 굉장히 중요!
    - 한 라인에 80자 정도(암묵적 합의), 넘어갈 시 백슬래시로 라인 끊어주기('\')

In [18]:
a = 3 # 주석입니다
"""
주석1
주석2
주석3
"""
print(a)

3

In [19]:
print('hey, there #')

hey, there #

# Ch04. if 조건문

In [ ]:
"""
# if <조건식>:
     <실행할 코드>
"""

In [22]:
if 3 != 1:
    print('두 수는 같지 않다')

두 수는 같지 않다

In [ ]:
"""
# if-else
if <조건식>:
    <실행할 코드1>
else: 
    <실행할 코드2>
"""

In [25]:
if 3 != 1:
    print("두 수는 같지 않다")
else:
    print('두 수가 같다')

두 수는 같지 않다

In [ ]:
"""
# if-elif-else
if  <조건식1>:
    <실행할 코드1>
elif <조건식2>:
    <실행할 코드2> ...
else: 
    <실행할 코드3>
"""

In [26]:
a = 4
if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else:
    print("3보다 크다")

3보다 크다

In [27]:
if a < 3:
    print("3보다 작다")
    
if a == 3:
    print("3이다")
    
if a > 4:
    print("3보다 크다")
    
    # 위 셀과의 차이점: 별개의 작동

### 비교연산자
- x < y
- x > y
- x >= y
- z <= y
- x == y
- x != y
- x is y (값, 메모리주소)
- x is not y

## [ week02 퀴즈 풀이 ]

### Quiz 1
- 택배 정보를 입력받고 무게에 따른 값 산정하기
    - 수취인 성명:
    - 수취인 주소:
    - 배송비: 3000원
    - 물건 비용: <계산된 값>원
    - 총 합계: <계산된 값>원
- 물건 비용은 무게(g) * 5
- 입력 값 = 이름, 주소, 무게

In [31]:
name = input("수취인 성명:")
address = input("수취인 주소:")
weight = int(input("무게(g):"))

수취인 성명:양서주
수취인 주소:서울시
무게(g):500

In [32]:
price = weight * 5
total = price + 3000 # 배송비도 변수로 받는 것이 좋음(자주 바뀔 수 있으므로): ex. shipping = 3000
print(f'물건 비용: {price}, 총 합계: {total}')

물건 비용: 2500, 총 합계: 5500

### Quiz 2
- 반지름을 입력받아 원의 면적 구하기
- 면적 = pi * r제곱

In [34]:
radius = float(input('반지름: '))
area = 3.14 * (radius ** 2) # 변수로 받는 것이 좋음: pi = 3.14
print(f'원의 면적: {area}')

반지름: 5
원의 면적: 78.5

### Quiz 3
- 숫자를 입력받고 3의 배수인지 확인하기
- 숫자를 입력받고 홀수인지 확인하기

In [35]:
num = int(input('숫자를 입력하세요: '))
if num % 3 == 0:
    print('3의 배수입니다.')
else:
    print('3의 배수가 아닙니다.')

숫자를 입력하세요: 6
3의 배수입니다.

In [36]:
num = int(input('숫자를 입력하세요: '))
if num % 2 != 0:
    print('홀수입니다.')
else:
    print('홀수가 아닙니다. 짝수입니다.')

숫자를 입력하세요: 4
홀수가 아닙니다. 짝수입니다.

### Quiz 4
- 1. 시험 점수를 입력받고, 80점 이상이면 True, 아니면 False 반환하기
- 2. 시험 점수를 입력받고, 95이상 A+, 85이상 B+, 나머지 F로 출력하기

In [37]:
score = int(input('시험 점수: '))
if score >= 80:
    print('True')
else:
    print('False')

시험 점수: 80
True

In [38]:
score = int(input('시험 점수: '))
if score >= 95:
    print('A+')
elif score >= 90 and score < 95:
    print('A')
elif score >= 85 and score < 90:
    print('B+')
else:
    print('F')

시험 점수: 95
A+